//  Ulilites SCSS
main {
    overflow: hidden;
}

.container {
    max-width: $container;
    padding-left: $gutter-x;
    padding-right: $gutter-x;
    margin: 0 auto;
    @include tablet {
        padding-left: $gutter-x-xs;
        padding-right: $gutter-x-xs;
    }
}

.container-lg {
    max-width: $container-lg;
    padding-left: $gutter-x;
    padding-right: $gutter-x;
    margin: 0 auto;
    @include tablet {
        padding-left: $gutter-x-xs;
        padding-right: $gutter-x-xs;
    }
}