// Home Page SCSS here
.hero-section {
    background-repeat: no-repeat;
    padding-top: 9.063rem;
    position: relative;
    @include tablet {
        padding-top: 105px;
    }
    &::after {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -102.313rem;
        width: 178.813rem;
        height: 185.188rem;
        background-size: 178.813rem 185.188rem;
        background-image: url(../../assets/images/svg/header-bg.svg);
        z-index: -1;
        margin-left: -270px;
        background-repeat: no-repeat;
        @include tablet {
            top: -1247px;
            width: 2861px;
            height: 2963px;
            background-size: 2861px 2713px;
        }
        @include mobile {
            top: -1737px;
            background-size: 2861px 2963px;
        }
    }
}

.hero-block {
    display: flex;
    justify-content: space-between;
    @include tablet {
        flex-direction: column;
        align-items: center;
    }
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 31.875rem;
    flex-shrink: 0;
    margin-top: 4.813rem;
    @include tablet {
        max-width: 100%;
        align-items: center;
        margin-top: 17px;
        text-align: center;
        margin-bottom: 50px;
    }
    @include mobile {
        margin-top: 0;
        margin-bottom: 30px;
    }
    & h1 {
        font-weight: 400;
        font-size: 6.063rem;
        line-height: 6.25rem;
        margin-bottom: 27px;
        letter-spacing: -2px;
        & span {
            font-weight: 500;
        }
        @include mobile {
            font-size: 57px;
            line-height: 60px;
            margin-bottom: 22px;
        }
    }
    & h4 {
        font-weight: 700;
        font-size: 2rem;
        line-height: 2.688rem;
        margin-bottom: 2.5rem;
        position: relative;
        z-index: 1;
        @include mobile {
            font-size: 23px;
            line-height: 30px;
            margin-bottom: 20px;
        }
        &::after {
            position: absolute;
            background-image: url(../../assets/images/svg/underline.svg);
            width: 15.313rem;
            height: 1.875rem;
            background-size: contain;
            right: -1.625rem;
            bottom: -0.813rem;
            z-index: -1;
            content: '';
            background-repeat: no-repeat;
            @include tablet {
                right: -26px;
                bottom: -9px;
                width: 175px;
                height: 20px;
            }
        }
    }
    & p {
        max-width: 26.875rem;
        position: relative;
        z-index: 1;
        @include mobile {
            max-width: 300px;
        }
        &::after {
            position: absolute;
            background-image: url(../../assets/images/svg/highlight.svg);
            width: 0.938rem;
            height: 1rem;
            background-size: contain;
            right: 0.125rem;
            bottom: 1.25rem;
            z-index: -1;
            content: '';
            background-repeat: no-repeat;
            @include mobile {
                width: 12px;
                height: 12px;
                bottom: 11px;
                right: 95px;
            }
        }
    }
}

.hero-image {
    position: relative;
    top: -3.188rem;
    left: 2.5rem;
    @include tablet {
        left: 0;
        top: 0;
    }
    & img {
        max-width: 50.188rem;
        @include tablet {
            max-width: 526px;
            margin: 0 auto;
            @include mobile {
                max-width: 343px;
            }
        }
    }
}

.services-section {
    margin-top: -17.625rem;
    position: relative;
    z-index: 1;
    @include tablet {
        margin-top: 0;
    }
    @include mobile {
        padding-top: 30px;
    }
}

.service-block {
    display: grid;
    grid-template-columns: 15.188rem 15.188rem 15.188rem;
    column-gap: 1.938rem;
    row-gap: 2.625rem;
    @include tablet {
        grid-template-columns: 243px 243px;
        justify-content: center;
    }
    @include mobile {
        grid-template-columns: minmax(120px, 169px) minmax(120px, 169px);
        justify-items: center;
        column-gap: 15px;
        row-gap: 20px;
    }
}

.service-item {
    background-color: $secondary;
    border-radius: 10px;
    width: 15.188rem;
    height: 19.125rem;
    display: flex;
    flex-direction: column;
    padding: 3rem 2rem 2.313rem;
    position: relative;
    @include mobile {
        width: 100%;
        height: 220px;
        padding: 20px 20px 20px;
    }
    &:nth-child(2) {
        top: 3.75rem;
        @include tablet {
            top: 140px;
        }
        @include mobile {
            top: 120px;
        }
    }
    &:nth-child(5) {
        top: 3.75rem;
        @include tablet {
            top: 0;
        }
    }
    &:nth-child(3) {
        top: 18.563rem;
        @include tablet {
            top: 0;
        }
    }
    &:nth-child(4) {
        @include tablet {
            top: 140px;
        }
        @include mobile {
            top: 120px;
        }
    }
    & .service-icon {
        position: relative;
        z-index: 1;
        &:before {
            content: '';
            position: absolute;
            width: 4.063rem;
            height: 4.063rem;
            background-color: $primary;
            border-radius: 50%;
            bottom: -0.813rem;
            z-index: -1;
            @include tablet {
                bottom: -13px;
            }
            @include mobile {
                width: 45px;
                height: 45px;
            }
        }
        & img {
            width: 3.875rem;
            height: 3.875rem;
            @include mobile {
                width: 45px;
                height: 45px;
            }
        }
    }
    & h3 {
        margin-top: auto;
        font-weight: 500;
        font-size: 1.375rem;
        line-height: 1.688rem;
        margin-bottom: 0.5rem;
        @include mobile {
            font-size: 18px;
            line-height: 23px;
            margin-bottom: 3px;
        }
    }
    & p {
        line-height: 1.688rem;
    }
    & .new-service {
        position: absolute;
        top: 6.563rem;
        right: 5.813rem;
        width: 2.438rem;
        @include mobile {
            top: 65px;
            right: 63px;
            width: 31px;
        }
    }
}

.qoute-section {
    padding: 10.5rem 0 0;
    @include tablet {
        padding: 68px 0 148px;
    }
    @include mobile {
        padding: 30px 0 80px;
    }
}

.qoute-block {
    display: flex;
    justify-content: center;
    @include tablet {
        flex-direction: column;
        align-items: center;
    }
}

.qoute-image {
    position: relative;
    margin-left: -16.5rem;
    left: -1.25rem;
    @include tablet {
        left: 0px;
        margin-left: -7px;
    }
    & img {
        max-width: 50.563rem;
        @include tablet {
            margin: 0 auto;
        }
        @include mobile {
            max-width: 375px;
        }
    }
}

.qoute-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 7.5rem;
    @include tablet {
        margin-top: 0;
        align-items: center;
    }
    @include mobile {
        margin-top: 20px;
    }
    & img {
        margin-bottom: 2.063rem;
        margin-left: 1.25rem;
        width: 6.25rem;
        @include tablet {
            margin-left: 0;
        }
        @include mobile {
            width: 60px;
            margin-bottom: 20px;
        }
    }
    & h2 {
        font-weight: 400;
        font-size: 4rem;
        line-height: 4.625rem;
        margin-bottom: 2.125rem;
        flex-shrink: 0;
        width: 34.25rem;
        letter-spacing: -1px;
        @include tablet {
            text-align: center;
        }
        @include mobile {
            font-size: 34px;
            line-height: 41px;
            margin-bottom: 16px;
            width: 300px;
        }
    }
    & p {
        max-width: 29.313rem;
        @include tablet {
            text-align: center;
        }
    }
}

.budget-section {
    padding: 5.75rem 0 23.75rem;
    position: relative;
    @include tablet {
        padding: 92px 0 220px;
    }
    @include mobile {
        padding: 92px 0 92px;
    }
    &::after {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -34.563rem;
        width: 178.813rem;
        height: 141.75rem;
        background-size: 178.813rem 141.75rem;
        background-image: url(../../assets/images/svg/free-bg.svg);
        z-index: -1;
        margin-left: -7.5rem;
        background-repeat: no-repeat;
        @include mobile {
            transform: translateX(-50%) scale(0.5);
            top: -664px;
            background-size: 2861px 1758px;
        }
    }
}

.budget-block {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.budget-image {
    position: relative;
    left: -2.188rem;
    @include tablet {
        left: 0;
    }
    & img {
        max-width: 58.25rem;
        @include tablet {
            margin: 0 auto;
        }
        @include mobile {
            max-width: 375px;
        }
    }
}

.budget-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 49.875rem;
    & img {
        width: 6.25rem;
        @include mobile {
            width: 65px;
        }
    }
    & h3 {
        font-weight: 400;
        font-size: 4rem;
        line-height: 4.625rem;
        margin-bottom: 2.75rem;
        margin-top: 0.313rem;
        letter-spacing: -1px;
        @include mobile {
            font-size: 26px;
            line-height: 38px;
            margin-bottom: 16px;
            margin-top: 0;
        }
    }
    & h5 {
        font-weight: 300;
        font-size: 3.125rem;
        line-height: 1.875rem;
        position: relative;
        z-index: 1;
        @include mobile {
            font-size: 26px;
            line-height: 30px;
        }
        &::after {
            position: absolute;
            background-image: url(../../assets/images/svg/underline-2.svg);
            width: 24.875rem;
            height: 3.313rem;
            background-size: contain;
            right: -3.625rem;
            bottom: -2.563rem;
            z-index: -1;
            content: '';
            background-repeat: no-repeat;
            @include mobile {
                width: 208px;
                height: 53px;
                right: -28px;
                bottom: -36px;
            }
        }
    }
}